<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home-style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon2.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="content-wrapper">
            <img src="static/css/22-removebg-preview.png" alt="Centered Image" class="center-image">
            <div class="btn-family">
                <a href="{{ url_for('patient_form') }}" class="button">New Report</a>
                <a href="{{ url_for('records') }}" class="button">Records</a>
            </div>
        </div>
        <form action="/logout" method="get" class="logout-form">
            <button type="submit" class="fancy" id="logout">
                <span class="top-key"></span>
                <span class="text">Logout</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
            </button>
        </form>
    </div>
</body>
</html>
