<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/ls2.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Login Form
        </div>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="field">
                {{ form.username(class_="form-input") }}
            </div>
            <div class="field">
                {{ form.password(class_="form-input") }}
            </div>
            <br>
            
            <div class="field">
                {{ form.submit(class_="btn") }}
            </div>
            <div class="signup-link">
                Not a member? <a href="{{ url_for('register') }}">Signup now</a>
            </div>
            <div class="message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
    <script>
        function fadeIn(element) {
            element.style.opacity = 0;
            element.style.display = 'block';
        
            (function fade() {
                var val = parseFloat(element.style.opacity);
                if (!((val += 0.1) > 1)) {
                    element.style.opacity = val;
                    requestAnimationFrame(fade);
                }
            })();
        }
        
        function fadeOut(element) {
            element.style.opacity = 1;
        
            (function fade() {
                if ((element.style.opacity -= 0.1) < 0) {
                    element.style.display = 'none';
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            let messageDiv = document.querySelector('.message');
            if (messageDiv.innerHTML.trim() !== '') {
                fadeIn(messageDiv);
                setTimeout(function() {
                    fadeOut(messageDiv);
                }, 3000); // Fade out after 3 seconds
            }
        });
        </script>

</body>
</html>
