<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/records.css') }}">
    <title>Doctor Records</title>
    
    <link rel="icon" href="{{ url_for('static', filename='image/favicon2.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="home-btn">Home</a>
        
        <div class="right">
            <form class="search-form" action="{{ url_for('records') }}" method="POST">
                <input type="text" id="search_term" name="search_term" value="{{ search_term }}" placeholder="Search by Filename">
                <button type="submit">Search</button>
            </form> 

            <form action="{{ url_for('records') }}" method="POST" id="deleteForm">
                <button type="button" onclick="deleteSelectedFiles()">Delete File</button>
                <input type="hidden" id="selectedFiles" name="selected_files">
            </form>

            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </div>
    </div>

    <h1>Records for '{{ username }}'</h1>

    <ul>
        {% if files %}
            {% for file in files %}
                <li>
                    <input type="checkbox" name="selected_files" value="{{ file[0] }}">
                    <a href="{{ url_for('view_pdf', pdf_id=file[0]) }}" target="_blank">{{ file[1] }}</a>
                </li>
            {% endfor %}
        {% else %}
            <li>No PDF files found.</li>
        {% endif %}
    </ul>

    <script>
        function deleteSelectedFiles() {
            var selectedFiles = document.querySelectorAll('input[name="selected_files"]:checked');
            var selectedFileIds = [];
            selectedFiles.forEach(function(file) {
                selectedFileIds.push(file.value);
            });
            document.getElementById('selectedFiles').value = JSON.stringify(selectedFileIds);
            document.getElementById('deleteForm').submit();
        }
    </script>

</body>
</html>
