<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="static/css/ls.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
           
        </div>

        <div class="login">
            <form method="POST" action="{{ url_for('register') }}">
                <label for="chk" aria-hidden="true">Sign up</label>
                {{ form.hidden_tag() }}
                {{ form.username(class_="form-control", size=20) }}
                {{ form.password(class_="form-control", size=20) }}
                {{ form.confirm_password(class_="form-control", size=20) }}
                {{ form.submit(class_="btn btn-primary") }}
                <br>

                
                <div style="text-align: center;">
                    <span>Already have an account? </span><a href="{{ url_for('login') }}">Signin</a>
                </div>

                
            </form>
           
            

        </div>

       
            
        </div>
        
        <div class="message">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <script>
        // Function to fade in an element
        function fadeIn(element) {
            element.style.opacity = 0;
            element.style.display = 'block';
    
            (function fade() {
                var val = parseFloat(element.style.opacity);
                if (!((val += 0.1) > 1)) {
                    element.style.opacity = val;
                    requestAnimationFrame(fade);
                }
            })();
        }
    
        // Function to fade out an element
        function fadeOut(element) {
            element.style.opacity = 1;
    
            (function fade() {
                if ((element.style.opacity -= 0.1) < 0) {
                    element.style.display = 'none';
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        }
    
        // Show flash message with fade-in effect
        document.addEventListener('DOMContentLoaded', function() {
            let messageDiv = document.querySelector('.message');
            if (messageDiv.innerHTML.trim() !== '') {
                fadeIn(messageDiv);
                setTimeout(function() {
                    fadeOut(messageDiv);
                }, 3000); // Fade out after 3 seconds
            }
        });
    </script>

</body>
</html>







