.content {
    background-image: url('maroon bg 2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 300px;
    max-height: 200px;
    padding: 15px; 
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f7fc; 
    color: #333; 
}

h1, h2, h3, h4 {
    color: rgb(160, 156, 156); 
    text-align: center; 
    margin-top: 20px;
}

#complete_page {
    margin: 20px auto; 
    max-width: 800px; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#content {
    padding: 20px; 
}

img {
    display: block; 
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

form {
    text-align: center; 
    margin-top: 20px;
}

textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons-container {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

#downloadPdf,
#new_report,
#logout {
    flex: 1;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 500px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#downloadPdf {
    background-color: #3b8ecd; 
    color: white;
}

#downloadPdf:hover {
    background-color: #1e70bf; 
}

#new_report {
    background-color: #8bc34a;
    color: white;
}

#new_report:hover {
    background-color: #689f38; 
}

#logout {
    background-color: #f44336; 
    color: white;
}

#logout:hover {
    background-color: #d32f2f; 
}

.hide-for-pdf {
    display: none;
}
