body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    color: #333; 
}

h1 {
    color: #3b8ecd; 
    text-align: center; 
}

form {
    margin: 20px auto; 
    max-width: 400px; 
    padding: 20px;
    background-color: #f0f7fc; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block; 
    margin-bottom: 5px; 
}

input[type="text"],
input[type="password"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box; 
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #5bc0de; 
    width: 100%; 
    text-align: center; 
    font-size: 16px; 
    margin-top: 10px; 
    text-decoration: none; 
    display: block; 
    display: inline-block; 
    margin: 10px; 
    overflow: hidden;
}

.button {
    display: block;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button.signup {
    background-color: #3b8ecd; 
}

.button.signin {
    background-color: #3b8ecd; 
}

.button:hover {
    background-color: #c2e982; 
}


#errorMessage {
    color: red;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    form {
        padding: 15px; 
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 24px; 
    }

    .btn {
        font-size: 16px; 
        padding: 10px 15px; 
    }
}
